.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.metadata
build/
android/.gradle/
android/local.properties
android/captures/
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/
macos/Flutter/ephemeral/
macos/.symlinks/
macos/Pods/
macos/Runner.xcworkspace/
windows/flutter/ephemeral/
windows/CMakeFiles/
windows/runner/Debug/
windows/runner/Release/
linux/flutter/ephemeral/
linux/CMakeFiles/
linux/Makefile
.vscode/
.idea/
*.iml
*.lock
*.log
*.tmp
*.DS_Store
*.swp
*.bak
*.apk
*.ipa
google-services.json
GoogleService-Info.plist
coverage/
app.*.symbols
